.container {
    max-width: 1200px;
    position: relative;
    padding: 5px;
}

#controls {
    margin-bottom: 10px;
}
  
td {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-size: 12px;
}

th {
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-size: 12px;
}